Makefile

build/config_vars.mk
build/config_vars.sh
build/pkg/pkginfo
build/rules.mk

config.log
config.nice
config.status

docs/conf/httpd.conf
include/ap_config_auto.h
include/ap_config_layout.h
modules.c

.deps
modules.mk

srclib/apr-util/apr-util.pc
srclib/apr-util/apu-1-config
srclib/apr-util/build/pkg/pkginfo
srclib/apr-util/build/rules.mk
srclib/apr-util/export_vars.sh
srclib/apr-util/include/apr_ldap.h
srclib/apr-util/include/apu.h
srclib/apr-util/include/apu_want.h
srclib/apr-util/include/private/apu_config.h
srclib/apr-util/include/private/apu_select_dbm.h
srclib/apr-util/test/Makefile.in
srclib/apr/apr-1-config
srclib/apr/apr.pc
srclib/apr/build/apr_rules.mk
srclib/apr/build/pkg/pkginfo
srclib/apr/include/apr.h
srclib/apr/include/arch/unix/apr_private.h
srclib/apr/libtool
srclib/apr/test/Makefile.in
srclib/apr/test/internal/Makefile.in
support/apachectl
support/apxs
support/dbmmanage
support/envvars-std
support/log_server_status
support/logresolve.pl
support/phf_abuse_log.cgi
support/split-logfile

.libs
httpd

*.o
*.lo
*.la
*.slo

server/export_files
server/export_vars.h
server/exports.c
server/gen_test_char
server/httpd.exp
server/test_char.h
srclib/apr-util/.make.dirs
srclib/apr-util/aprutil.exp
srclib/apr-util/apu-config.out
srclib/apr-util/export_vars.c
srclib/apr-util/exports.c
srclib/apr/.make.dirs
srclib/apr/apr-config.out
srclib/apr/apr.exp
srclib/apr/build/apr_rules.out
srclib/apr/export_vars.c
srclib/apr/exports.c
srclib/apr/include/private/apr_escape_test_char.h
srclib/apr/tools/gen_test_char
support/ab
support/checkgid
support/fcgistarter
support/htcacheclean
support/htdbm
support/htdigest
support/htpasswd
support/httxt2dbm
support/logresolve
support/rotatelogs
confdefs.h

*.dep
*.dsp
*.mak
